# Dependencies
node_modules/
package-lock.json
yarn.lock

# Built files
coverage/
__TEST__/

# Mac
.DS_Store
.eslintcache

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/build/

# dotenv environment variables file
.env
.env.*
.env-*
